<section>
  <div class="container-fluid">
    <!-- <img src="https://mdbootstrap.com/img/Photos/Others/nature3.jpg" class="img-fluid" alt="First sample image"> -->
    <!--Excerpt-->
    <br>
    <h1 class="text-center dark-grey-text pb-3 mt-5 pt-5">
      <strong>ANNA'S</strong> BLOG</h1>

    <p class="grey-text text-center mb-4 text-uppercase spacing">Welcome on my blog. </p>

    <!--Grid row-->
    <div class="row flex-center">

      <!--Grid column-->
      <div class="col-md-10 col-xl-5">

        <p class="grey-text text-center">
          <em>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
            deleniti atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur."</em>
        </p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</section>
<section>
  <div class="container-fluid grey lighten-4">
    <hr class="my-5">
    <div class="container">

      <!--Blog-->
      <div class="row mt-5 pt-3">

        <!--Main listing-->
        <div class="col-lg-8 col-12 mt-1 mx-lg-4">

          <!--Section: Blog v.3-->
          <section class="extra-margins pb-5  text-lg-left">

            <!--Grid row-->
            <div class="row mb-4">

              <!--Grid column-->
              <div class="col-md-12">

                <!--Card-->
                <div class="card">

                  <!--Card image-->
                  <div class="view overlay">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(29).jpg" class="img-fluid" alt="">
                    <a>
                      <div class="mask rgba-white-slight waves-effect waves-light"></div>
                    </a>
                  </div>
                  <!--/.Card image-->

                  <!--Card content-->
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">
                      <strong>Lorem ipsum dolor sit amet</strong>
                    </h4>
                    <hr>
                    <!--Text-->
                    <p class="dark-grey-text mb-3 mt-4 mx-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                      laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                      et quasi architecto beatae vitae dicta sunt explicabo.</p>

                    <!--Grid row-->
                    <div class="row mx-4 mt-3">

                      <p class="dark-grey-text article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.</p>

                      <h5 class="mt-3 mb-4">
                        <strong>Lorem ipsum dolor sit amet</strong>
                      </h5>

                      <p class="dark-grey-text article">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                        nesciunt. Neque porro quisquam est.</p>

                      <blockquote class="blockquote mx-md-5 mx-1">
                        <p class="mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit..."</p>
                      </blockquote>

                      <p class="dark-grey-text article"> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
                        eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                        consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row my-3 mx-3">

                      <!--Grid column-->
                      <div class="col-md-6 mb-3">

                        <img src="https://mdbootstrap.com/img/Photos/Others/square/19.jpg" class="img-fluid z-depth-1 rounded-0" alt="sample image">

                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6">

                        <img src="https://mdbootstrap.com/img/Photos/Others/square/10.jpg" class="img-fluid z-depth-1 rounded-0" alt="sample image">

                      </div>
                      <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row mx-4">

                      <p class="dark-grey-text article">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                        et quasi architecto beatae vitae dicta sunt explicabo. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                        nisi ut aliquid ex ea commodi.</p>

                      <p class="dark-grey-text article mb-4">Omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Ut enim ad minima veniam,
                        quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                        ut aliquid ex ea commodi.Perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque.</p>

                    </div>
                    <!--Grid row-->
                    <hr>
                    <div class="row mb-4">

                      <!--Grid column-->
                      <div class="col-md-12 ">

                        <button type="button" mdbBtn  size="sm" class="waves-light" mdbWavesEffect><mdb-icon far icon="thumbs-up"></mdb-icon> 12</button>
                        <!--Google +-->
                        <button type="button" mdbBtn   size="sm" class="waves-light" mdbWavesEffect><mdb-icon far icon="thumbs-down"></mdb-icon> 3</button>

                      </div>
                      <!--Grid column-->

                    </div>
                    <hr>

                    <!--Grid row-->
                    <div class="row mb-4">

                      <!--Grid column-->
                      <div class="col-md-12 text-center">

                        <h4 class="text-center font-weight-bold dark-grey-text mt-3 mb-3">
                          <strong>Share this post: </strong>
                        </h4>

                        <button type="button" mdbBtn color="fb" size="sm" class="waves-light" mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook </button>
                        <span class="counter">46</span>

                        <!--Twitter-->
                        <button type="button" mdbBtn color="tw" size="sm" class="waves-light" mdbWavesEffect><i class="fab fa-twitter left"></i>Twitter</button>
                        <span class="counter">46</span>

                        <!--Google +-->
                        <button type="button" mdbBtn color="gplus" size="sm" class="waves-light" mdbWavesEffect><i class="fab fa-google-plus left"></i>Google +</button>
                        <span class="counter">46</span>

                      </div>
                      <!--Grid column-->

                    </div>

                    <!--Grid row-->

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->
                <div class="card card-comments mb-3 wow fadeIn">
                  <div class="card-header font-weight-bold">3 comments</div>
                  <div class="card-body">

                    <div class="media d-block d-md-flex mt-4">
                      <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" alt="Generic placeholder image">
                      <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h6 class="mt-0 font-weight-bold">Miley Steward
                          <a href="" class="pull-right">
                            <i class="fas fa-reply"></i>
                          </a>
                        </h6>
                        <p>
                          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <div class="media d-block d-md-flex mt-3">
                          <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg" alt="Generic placeholder image">
                          <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <h6 class="mt-0 font-weight-bold">Tommy Smith
                              <a href="" class="pull-right">
                                <i class="fas fa-reply"></i>
                              </a>
                            </h6>
                           <p>
                             Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                             ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                             sunt explicabo.
                           </p>
                          </div>
                        </div>

                        <!-- Quick Reply -->



                        <div class="media d-block d-md-flex mt-3">
                          <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (21).jpg" alt="Generic placeholder image">
                          <div class="media-body text-center text-md-left ml-md-3 ml-0">
                            <h6 class="mt-0 font-weight-bold">Sylvester the Cat
                              <a href="" class="pull-right">
                                <i class="fas fa-reply"></i>
                              </a>
                            </h6>
                            <div class="form-group ">
                              <textarea class="form-control" id="quickReplyFormComment" rows="2"></textarea>

                              <div class="text-center">
                                <button class="btn btn-info btn-sm" type="submit" mdbBtn mdbWavesEffect>Post</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media d-block d-md-flex mt-3">
                      <img class="d-flex mb-3 mx-auto " src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="Generic placeholder image">
                      <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h6 class="mt-0 font-weight-bold">Caroline Horwitz
                          <a href="" class="pull-right">
                            <i class="fas fa-reply"></i>
                          </a>
                        </h6>
                        <p>
                          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                          quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                          similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                          fuga.
                        </p>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

              <!--Grid column-->

            </div>
            <!--/Grid row-->

          </section>
          <!--Section: Blog v.3-->

        </div>
        <!--Main listing-->

        <!--Sidebar-->
        <div class="col-lg-3 col-12 mt-1">

          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay">
              <img src="https://mdbootstrap.com/img/Photos/Others/images/20.jpg" class="card-img-top" alt="">
              <a>
                <div class="mask rgba-white-slight waves-effect waves-light"></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h5 class="card-title dark-grey-text text-center grey lighten-4 py-2">
                <strong>Anna Doe</strong>
              </h5>

              <!--Description-->
              <p class="mt-3 dark-grey-text font-small text-center">
                <em>Hello, I'm Anna. I love travel around the world and take photos of landscapes and local
                  people.
                </em>
              </p>

              <ul class="list-unstyled list-inline-item circle-icons list-unstyled flex-center">
                <!--Facebook-->
                <li>
                  <a class="fb-ic">
                    <i class="fab fa-facebook-f"> </i>
                  </a>
                </li>
                <!--Twitter-->
                <li>
                  <a class="tw-ic">
                    <i class="fab fa-twitter mx-3"> </i>
                  </a>
                </li>
                <!--Google +-->
                <li>
                  <a class="gplus-ic">
                    <i class="fab fa-google-plus-g"> </i>
                  </a>
                </li>
              </ul>
            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

          <!-- Section: Featured posts -->
          <section class="section widget-content mt-5">

            <!--/ Card -->
            <div class="card card-body pb-0">
              <div class="single-post">

                <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
                  <strong>POPULAR POSTS</strong>
                </p>

                <!-- Grid row -->
                <div class="row mb-4">
                  <div class="col-5">

                    <!-- Image -->
                    <div class="view overlay">
                      <img src="https://mdbootstrap.com/img/Photos/Others/photo13.jpg" class="img-fluid z-depth-1 rounded-0" alt="sample image">
                      <a>
                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                      </a>
                    </div>
                  </div>

                  <!-- Excerpt -->
                  <div class="col-7">
                    <h6 class="mt-0 font-small">
                      <a>
                        <strong>Title of the news</strong>
                      </a>
                    </h6>

                    <div class="post-data">
                      <p class="font-small grey-text mb-0">
                        <i class="far fa-clock-o"></i> 18/08/2017</p>
                    </div>
                  </div>
                  <!--/ Excerpt -->
                </div>
                <!--/ Grid row -->
              </div>

              <div class="single-post">
                <!-- Grid row -->
                <div class="row mb-4">
                  <div class="col-5">

                    <!-- Image -->
                    <div class="view overlay">
                      <img src="https://mdbootstrap.com/img/Photos/Others/photo12.jpg" class="img-fluid z-depth-1 rounded-0" alt="sample image">
                      <a>
                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                      </a>
                    </div>
                  </div>

                  <!-- Excerpt -->
                  <div class="col-7">
                    <h6 class="mt-0 font-small">
                      <a>
                        <strong>Title of the news</strong>
                      </a>
                    </h6>

                    <div class="post-data">
                      <p class="font-small grey-text mb-0">
                        <i class="far fa-clock-o"></i> 18/08/2017</p>
                    </div>
                  </div>
                  <!--/ Excerpt -->
                </div>
                <!--/ Grid row -->
              </div>

              <div class="single-post">
                <!-- Grid row -->
                <div class="row mb-4">
                  <div class="col-5">

                    <!-- Image -->
                    <div class="view overlay">
                      <img src="https://mdbootstrap.com/img/Photos/Others/photo10.jpg" class="img-fluid z-depth-1 rounded-0" alt="sample image">
                      <a>
                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                      </a>
                    </div>
                  </div>

                  <!-- Excerpt -->
                  <div class="col-7">
                    <h6 class="mt-0 font-small">
                      <a>
                        <strong>Title of the news</strong>
                      </a>
                    </h6>

                    <div class="post-data">
                      <p class="font-small grey-text mb-0">
                        <i class="far fa-clock-o"></i> 18/08/2017</p>
                    </div>
                  </div>
                  <!--/ Excerpt -->
                </div>
                <!--/ Grid row -->
              </div>

              <div class="single-post">
                <!-- Grid row -->
                <div class="row mb-4">
                  <div class="col-5">

                    <!-- Image -->
                    <div class="view overlay">
                      <img src="https://mdbootstrap.com/img/Photos/Others/photo15.jpg" class="img-fluid z-depth-1 rounded-0" alt="sample image">
                      <a>
                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                      </a>
                    </div>
                  </div>

                  <!-- Excerpt -->
                  <div class="col-7">
                    <h6 class="mt-0 font-small">
                      <a>
                        <strong>Title of the news</strong>
                      </a>
                    </h6>

                    <div class="post-data">
                      <p class="font-small grey-text mb-0">
                        <i class="far fa-clock-o"></i> 18/08/2017</p>
                    </div>
                  </div>
                  <!--/ Excerpt -->
                </div>
                <!--/ Grid row -->
              </div>

              <div class="single-post">
                <!-- Grid row -->
                <div class="row mb-4">
                  <div class="col-5">

                    <!-- Image -->
                    <div class="view overlay">
                      <img src="https://mdbootstrap.com/img/Photos/Others/photo9.jpg" class="img-fluid z-depth-1 rounded-0" alt="sample image">
                      <a>
                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                      </a>
                    </div>
                  </div>

                  <!-- Excerpt -->
                  <div class="col-7">
                    <h6 class="mt-0 font-small">
                      <a>
                        <strong>Title of the news</strong>
                      </a>
                    </h6>

                    <div class="post-data">
                      <p class="font-small grey-text mb-0">
                        <i class="far fa-clock-o"></i> 18/08/2017</p>
                    </div>
                  </div>
                  <!--/ Excerpt -->
                </div>
                <!--/ Grid row -->

              </div>
            </div>
          </section>
          <!--/ Section: Featured posts -->

          <!--Newsletter-->
          <section class="my-5">

            <!--/ Card -->
            <div class="card card-body pb-0">
              <div class="single-post">

                <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
                  <strong>NEWSLETTER</strong>
                </p>

                <!--Grid row-->
                <div class="row mt-4">
                  <!--Grid column-->
                  <div class="col-md-12">

                    <div class="input-group md-form form-sm form-3 pl-0">
                      <div class="input-group-prepend">
                        <span class="input-group-text white black-text" id="basic-addon9">@</span>
                      </div>
                      <input type="text" class="form-control mt-0 black-border rgba-white-strong" placeholder="Username" aria-describedby="basic-addon9">
                    </div>

                    <button type="button" mdbWavesEffect mdbBtn color="primary" class="btn btn-block mt-4 mb-4 waves-effect waves-light">Sign up</button>

                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->

              </div>
            </div>

          </section>
          <!--Newsletter-->

          <!--Archive-->
          <section class="archive mb-5">

            <!--/ Card -->
            <div class="card card-body pb-0">
              <div class="single-post">

                <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
                  <strong>ARCHIVE</strong>
                </p>

                <!--Grid row-->
                <div class="row mb-4">

                  <!--Grid column-->
                  <div class="col-md-12 text-center">

                    <!--List-->
                    <ul class="list-unstyled">
                      <li>
                        <p class="mb-1 mt-2">
                          <a href="#!" class="dark-grey-text">August 2016</a>
                        </p>
                      </li>
                      <li>
                        <p class="mb-1">
                          <a href="#!" class="dark-grey-text">July 2016</a>
                        </p>
                      </li>
                      <li>
                        <p class="mb-1">
                          <a href="#!" class="dark-grey-text">June 2016</a>
                        </p>
                      </li>
                      <li>
                        <p class="mb-1">
                          <a href="#!" class="dark-grey-text">May 2016</a>
                        </p>
                      </li>
                      <li>
                        <p class="mb-1">
                          <a href="#!" class="dark-grey-text">April 2016</a>
                        </p>
                      </li>
                      <li>
                        <p class="mb-1">
                          <a href="#!" class="dark-grey-text">March 2016</a>
                        </p>
                      </li>
                      <li>
                        <p class="mb-0">
                          <a href="#!" class="dark-grey-text">Febuary 2016</a>
                        </p>
                      </li>
                    </ul>
                    <!--List-->

                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->

              </div>

            </div>
            <!--/ Card -->

          </section>
          <!--Archive-->

        </div>
        <!--Sidebar-->

      </div>
      <!--Blog-->

    </div>

  </div>
</section>
<section>
  <div class="container-fluid white mb-0 pb-0">
    <hr class="mt-0">
    <div class="container">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12">
          <h6 class="font-weight-bold mt-5 mb-3">ABOUT</h6>
          <hr class="mb-5">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img (37).jpg" alt="sample image" class="img-fluid z-depth-1">
          <p class="mt-4 mb-5">Sed ut in perspiciatis unde omnis iste natus error sit on i tatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae.</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6">
          <h6 class="font-weight-bold mt-5 mb-3">LATESTS POSTS</h6>
          <hr class="mb-5">
          <!--Grid row-->
          <div class="row mt-4">

            <!--Grid column-->
            <div class="col-4">

              <!--Image-->
              <div class="view overlay z-depth-1 mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo12.jpg" class="img-fluid" alt="Post">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Second column-->
            <div class="col-8 mb-1">

              <!--Post data-->
              <div class="">
                <p class="mb-1">
                  <a href="#!" class="text-hover font-weight-bold">Sed ut in perspiciatis unde omnis</a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>
              </div>

            </div>
            <!--Second column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-4">

              <!--Image-->
              <div class="view overlay z-depth-1 mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo11.jpg" class="img-fluid" alt="Post">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Second column-->
            <div class="col-7 mb-1">

              <!--Post data-->
              <div class="">
                <p class="mb-1">
                  <a href="#!" class="text-hover font-weight-bold">At vero eos et accusamus et </a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>

              </div>

            </div>
            <!--Second column-->

          </div>
          <!--Grid row-->


          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-4">

              <!--Image-->
              <div class="view overlay z-depth-1 mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo15.jpg" class="img-fluid" alt="Post">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Second column-->
            <div class="col-7 mb-1">

              <!--Post data-->
              <div class="">
                <p class="mb-1">
                  <a href="#!" class="text-hover font-weight-bold">Nemo enim ipsam voluptatem</a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>

              </div>

            </div>
            <!--Second column-->

          </div>
          <!--Grid row-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6">
          <h6 class="font-weight-bold mt-5 mb-3">OLDER POSTS</h6>
          <hr class="mb-5">
          <!--Grid row-->
          <div class="row mt-4">

            <!--Grid column-->
            <div class="col-4">

              <!--Image-->
              <div class="view overlay z-depth-1 mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo1.jpg" class="img-fluid" alt="Post">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Second column-->
            <div class="col-8 mb-1">

              <!--Post data-->
              <div class="">
                <p class="mb-1">
                  <a href="#!" class="text-hover font-weight-bold">Sed ut in perspiciatis unde omnis</a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>

              </div>

            </div>
            <!--Second column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-4">

              <!--Image-->
              <div class="view overlay z-depth-1 mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo9.jpg" class="img-fluid" alt="Post">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Second column-->
            <div class="col-7 mb-1">

              <!--Post data-->
              <div class="">
                <p class="mb-1">
                  <a href="#!" class="text-hover font-weight-bold">At vero eos et accusamus et </a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>

              </div>

            </div>
            <!--Second column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-4">

              <!--Image-->
              <div class="view overlay z-depth-1 mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo4.jpg" class="img-fluid" alt="Post">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

            </div>
            <!--Grid column-->

            <!--Second column-->
            <div class="col-7 mb-1">

              <!--Post data-->
              <div class="">
                <p class="mb-1">
                  <a href="#!" class="text-hover font-weight-bold">Nemo enim ipsam voluptatem</a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>
              </div>

            </div>
            <!--Second column-->

          </div>
          <!--Grid row-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </div>
</section>
