.circle-icons i {
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #e0e0e0;
  color: #bdbdbd;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.circle-icons i:hover {
  color: #fff;
  background-color: #4285f4!important;
}
.text-hover {
  color: #424242;
  transition: .4s;
}
.text-hover:hover {
  color: #90a4ae;
}
.archive ul li {
  padding-top: .8rem;
  border-top: 1px solid #eceeef;
  padding-bottom: .3rem;
}
p {
  font-size: .87rem ;
  line-height: 1.5rem !important;
}

.spacing {
  letter-spacing: 2px;
}
section .container {
  font-family: Roboto,sans-serif;
}.btn-gplus {
   background-color: #dd4b39!important;
   color: #fff;
 }
.btn-tw {
  background-color: #55acee!important;
  color: #fff;
}

.btn-fb {
  background-color: #3b5998!important;
  color: #fff;
}
.counter {
  position: relative;
  top: -23px;
  left: auto;
  z-index: 2;
  padding: 1px 7px;
  margin-left: -23px;
  font-size: 11px;
  color: #fff;
  background-color: #fe1212;
  border-radius: 10em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-comments img{width:4rem}
