<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">
      <!-- Material form login -->
      <mdb-card class="z-depth-2">

        <div class="white text-center py-4">
          <h5>
            <strong>Register</strong>
          </h5>
        </div>


        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <!-- Form -->
          <form  class="text-center" style="color: #757575;" >

            <!-- Email -->
            <div class="md-form">
              <input mdbValidate  type="email" id="email" class="form-control"  mdbInput >
              <label for="email">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input mdbValidate [validateSuccess]="false" type="password" id="password" class="form-control" mdbInput>
              <label for="password">Password</label>
            </div>

            <!-- Sign in button -->
            <button mdbBtn color="primary" block="true" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect type="submit" >Register</button>

            <!-- Register -->
            <p>
              <a routerLink="/login">Login</a>
            </p>

          </form>
          <!-- Form -->

        </mdb-card-body>

      </mdb-card>
      <!-- Material form login -->
    </div>
  </div>
</div>
