.circle-icons i {
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #e0e0e0;
  color: #bdbdbd;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.circle-icons i:hover {
  color: #fff;
  background-color: #4285f4!important;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
}
p {
  font-size: .87rem;
  line-height: 1.5rem;
}
.archive ul li {
  padding-top: .8rem;
  border-top: 1px solid #eceeef;
  padding-bottom: .3rem;
}
.badge {
  color: #fff!important;
}
.text-hover {
  color: #424242;
  transition: .4s;
}
.text-hover:hover {
  color: #90a4ae;
}
