.card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
}
.btn-floating i {
  font-size: 1.25rem;
  line-height: 47px;
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
}
.btn-floating.btn-sm i {
  font-size: .96154rem;
  line-height: 36.15px;
}
.btn-fb {
  background-color: #3b5998!important;
  color: #fff;
}
.btn-floating {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}
.btn-floating.btn-sm {
  width: 36.15px;
  height: 36.15px;
}
.btn-gplus {
  background-color: #dd4b39!important;
  color: #fff;
}
.btn-tw {
  background-color: #55acee!important;
  color: #fff;
}
.btn-li {
  background-color: #dc3072!important;
  color: #fff;
}
.btn-floating:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
