<section>
  <div class="container-fluid">

    <!--Excerpt-->
    <br>
    <h1 class="text-center dark-grey-text pb-3 mt-5 pt-5">
      <strong>ABOUT</strong> ME</h1>

    <p class="grey-text text-center mb-4 text-uppercase spacing">LE DUC LINH </p>

    <!--Grid row-->
    <div class="row flex-center">

      <!--Grid column-->
      <div class="col-md-10 col-xl-5">

        <p class="grey-text text-center">
          <em>"Developer"</em>
        </p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</section>
<section>
  <div class="container-fluid grey lighten-4">
    <hr class="my-5">
    <div class="container">

      <!--Blog-->
      <div class="row mt-5 pt-3">

        <!--Main listing-->
        <div class="col-lg-12 col-12 mt-1 mx-lg-4">

          <!--Section: Blog v.3-->
          <section class="section extra-margins pb-3 text-center text-lg-left">

            <!--Grid row-->
            <div class="row mb-5 pb-3">

              <!--Grid column-->
              <div class="col-md-12">
                <!--Card-->
                <div class="card">

                  <!--Card image-->
                  <div class="view overlay">
                    <img src="../../../../assets/images/leduclinh-bg.JPG" class="card-img-top" alt="">
                    <div class="mask rgba-white-slight"></div>
                  </div>
                  <!--/.Card image-->

                  <!--Card content-->
                  <div class="card-body mx-4">
                    <!--Title-->
                    <h4 class="card-title mt-4">
<!--                      <strong>Lorem ipsum dolor sit amet</strong>-->
                    </h4>
                    <hr>

                    <!--Grid row-->
                    <div class="row mt-4">

                      <!--Grid column-->
                      <div class="col-md-6">

                        <!--Text-->
<!--                        <p class="dark-grey-text mb-3">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut-->
<!--                          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem-->
<!--                          sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia-->
<!--                          dolor sit amet, consectetur, adipisci velit, sed quia non numquam-->
<!--                          eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat-->
<!--                          voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem-->
<!--                          ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi-->
<!--                          consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate-->
<!--                          velit esse quam nihil molestiae consequatur, vel illum qui dolorem-->
<!--                          eum fugiat quo voluptas nulla pariatur?"-->

<!--                        </p></div>-->
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6">

                        <!--Text-->
<!--                        <p class="dark-grey-text mb-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium-->
<!--                          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo-->
<!--                          inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.-->
<!--                        </p><hr>-->

                        <h5 class="h5-responsive font-weight-bold text-center mt-4">
                          <strong>Find me on social media</strong>
                        </h5>

                        <!--Grid row-->
                        <div class="row">

                          <!--Grid column-->
                          <div class="col-md-12 text-center">

                            <!--Facebook-->
                            <a type="button" class="btn-floating btn-fb btn-sm waves-effect waves-light" href="https://www.facebook.com/duclinh090999" target="_blank">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                            <!--Twitter-->

                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-li btn-sm waves-effect waves-light"  href="https://www.instagram.com/_linhld" target="_blank">
                              <i class="fab fa-instagram"></i>
                            </a>
                            <!--Dribbble-->

                          </div>
                          <!--Grid column-->

                        </div>
                        <!--Grid row-->

                      </div>
                      <!--Grid column-->

                    </div>
                    <!--Grid row-->

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
              <!--Grid column-->

            </div>
            <!--/Grid row-->

          </section>
          <!--/Section: Blog v.3-->

        </div>
        <!--/Main listing-->

      </div>
      <!--/Blog-->

    </div>

  </div>

</section>
