<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/city11.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/intro2.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/city13.jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
<section>
  <div class="container mt-5 pt-3">
    <!--Excerpt-->
    <a href="">
      <h6 class="text-center font-weight-bold blue-text">
        <strong>HELLO WORLD!</strong>
      </h6>
    </a>
    <h1 class="text-center font-weight-bold dark-grey-text py-3">
      <strong>Welcome on my blog</strong>
    </h1>

    <p class="grey-text text-center mb-5 pb-3">
      <em>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae sit aspernatur
        aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.</em>
    </p>
    <hr>
    <!--Blog-->
    <div class="row mt-5 pt-3">

      <!--Main listing-->
      <div class="col-lg-9 col-12 mt-1">

        <!--Section: Blog v.3-->
        <section class="section extra-margins pb-3 text-center text-lg-left">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo9.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>DESIGN</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" routerLink="/post-detail">Read more</button>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <hr class="mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo1.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>TRAVEL</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" >Read more</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <hr class="mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo4.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>TRAVEL</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" >Read more</button>            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <hr class="mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo5.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>ART</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" >Read more</button>            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <hr class="mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo10.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>DESIGN</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" >Read more</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <hr class="mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>WORK</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" >Read more</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->
          <hr class="mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo2.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>ART</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" >Read more</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <hr class="mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/laptop1.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>WORK</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" >Read more</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <hr class="mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-5 mb-4">
              <!--Featured image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" class="img-fluid" alt="First sample image">
                <a>
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 ml-xl-4 mb-4">
              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-xl-2 col-md-6 text-sm-center text-md-right text-lg-left">
                  <p class="orange-text font-small font-weight-bold mb-1 spacing">
                    <a>
                      <strong>ART</strong>
                    </a>
                  </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-5 col-md-6 text-sm-center text-md-left">
                  <p class="font-small grey-text">
                    <em> July 22, 2017</em>
                  </p>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <h4 class="mb-3 dark-grey-text mt-0">
                <strong>
                  <a>This is title of the news</a>
                </strong>
              </h4>
              <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus
                id vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
              </p>
              <div class="row mb-4">

                <!--Grid column-->
                <div class="col-md-12 ">

                  <p><mdb-icon far icon="thumbs-up"></mdb-icon> 12
                    <mdb-icon class="ml-2" far icon="thumbs-down"></mdb-icon> 11
                    <mdb-icon class="ml-2" far icon="comment-alt"></mdb-icon> 3
                    <mdb-icon class="ml-2" fas icon="share"></mdb-icon> 11
                  </p>
                  <!--Google +-->


                </div>
                <!--Grid column-->

              </div>
              <!--Deep-orange-->
              <button  color="info" mdbBtn mdbWavesEffect  size="sm" class="btn-danger btn-sm btn" >Read more</button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->


          <!--Grid row-->

          <hr class="mb-5">

        </section>
        <!--Section: Blog v.3-->

        <!--Pagination dark grey-->
        <nav class="mb-5 pb-2">
          <ul class="pagination pg-darkgrey flex-center">
            <!--Arrow left-->
            <li class="page-item">
              <a class="page-link grey-text waves-effect waves-effect" aria-label="Previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <!--Numbers-->
            <li class="page-item active">
              <a class="page-link waves-effect waves-effect">1</a>
            </li>
            <li class="page-item">
              <a class="page-link grey-text waves-effect waves-effect">2</a>
            </li>
            <li class="page-item">
              <a class="page-link grey-text waves-effect waves-effect">3</a>
            </li>
            <li class="page-item">
              <a class="page-link grey-text waves-effect waves-effect">4</a>
            </li>
            <li class="page-item">
              <a class="page-link grey-text waves-effect waves-effect">5</a>
            </li>

            <!--Arrow right-->
            <li class="page-item">
              <a class="page-link grey-text waves-effect waves-effect" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <!--Pagination dark grey-->

      </div>
      <!--Main listing-->

      <!--Sidebar-->
      <div class="col-lg-3 col-12 px-4 mt-1 blue-grey lighten-5">

        <!--Author-->
        <section class="mb-4">

          <hr class="mt-4">
          <p class="font-weight-bold dark-grey-text text-center spacing">
            <strong>ABOUT ME</strong>
          </p>
          <hr>

          <!--Avatar-->
          <div class="flex-center mt-4">
            <img src="../../../../assets/images/avatart.JPG" class="img-fluid img-author">
          </div>

          <!--Description-->
          <p class="mt-3 dark-grey-text font-small text-center">
            <em>Hello, my name is Le Duc Linh. I'm 21 years old and a software engineer. I love traveling around the world and am passionate about speed.</em>
          </p>

          <ul class="list-unstyled list-inline-item circle-icons list-unstyled flex-center">
            <!--Facebook-->
            <li>
              <a class="fb-ic">
                <i class="fab fa-facebook-f"> </i>
              </a>
            </li>
            <!--Twitter-->
            <li>
              <a class="tw-ic">
                <i class="fab fa-twitter"> </i>
              </a>
            </li>
            <!--Google +-->
            <li>
              <a class="gplus-ic">
                <i class="fab fa-google-plus-g"> </i>
              </a>
            </li>
          </ul>

        </section>
        <!--Author-->

        <!--Title-->
        <hr>
        <p class="font-weight-bold dark-grey-text text-center spacing">
          <strong>POPULAR POSTS</strong>
        </p>
        <hr>

        <!--Popular posts-->
        <section class="mb-5">

          <!--Grid row-->
          <div class="row mt-4">

            <!--Grid column-->
            <div class="col-md-6 col-lg-12">

              <!--Image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" class="img-fluid" alt="Post">
                <a href="#!">
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

              <!--Post data-->
              <div class="text-center mt-3">
                <p class="mb-1 font-weight-bold">
                  <a href="#!" class="text-hover">This is news title</a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>

              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 col-lg-12">

              <!--Image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/laptop1.jpg" class="img-fluid" alt="Post">
                <a href="#!">
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

              <!--Post data-->
              <div class="text-center mt-3">
                <p class="mb-1 font-weight-bold">
                  <a href="#!" class="text-hover">This is news title</a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>

              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 col-lg-12">

              <!--Image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" class="img-fluid" alt="Post">
                <a href="#!">
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

              <!--Post data-->
              <div class="text-center mt-3">
                <p class="mb-1 font-weight-bold">
                  <a href="#!" class="text-hover">This is news title</a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>

              </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 col-lg-12">

              <!--Image-->
              <div class="view overlay z-depth-1">
                <img src="https://mdbootstrap.com/img/Photos/Others/photo12.jpg" class="img-fluid" alt="Post">
                <a href="#!">
                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
              </div>

              <!--Post data-->
              <div class="text-center mt-3">
                <p class="mb-1 font-weight-bold">
                  <a href="#!" class="text-hover">This is news title</a>
                </p>
                <p class="font-small grey-text">
                  <em>July 22, 2017</em>
                </p>

              </div>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--Popular posts-->

        <!--Title-->
        <hr>
        <p class="font-weight-bold dark-grey-text text-center spacing">
          <strong>NEWSLETTER</strong>
        </p>
        <hr>

        <!--Newsletter-->
        <section class="mb-5">

          <!--Grid row-->
          <div class="row mt-4">
            <!--Grid column-->
            <div class="col-md-12">

              <div class="input-group md-form form-sm form-3 pl-0">
                <span class="input-group-text white black-text" id="basic-addon9">@</span>
                <input type="text" class="form-control mt-0 black-border rgba-white-strong" placeholder="Username" aria-describedby="basic-addon9">
              </div>

              <button type="button" mdbWavesEffect mdbBtn color="primary" class="btn btn-block mt-4 waves-effect waves-light">Sign up</button>

            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->

        </section>
        <!--Newsletter-->

        <!--Title-->
        <hr>
        <p class="font-weight-bold dark-grey-text text-center spacing">
          <strong>RECENT POSTS</strong>
        </p>
        <hr>
        <!--Section: Recent posts-->
        <section class="section mb-5">

          <div class="post-border">

            <!--Grid row-->
            <div class="row mt-4">

              <!--Grid column-->
              <div class="col-5">

                <!--Image-->
                <div class="view overlay z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/project1.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-weight-bold">This is news title</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>
                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

          </div>

          <div class="post-border">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-5">

                <!--Image-->
                <div class="view overlay z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo3.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-weight-bold">This is news title</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>

                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

          </div>

          <div class="post-border">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-5">

                <!--Image-->
                <div class="view overlay z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-weight-bold">This is news title</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>
                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

          </div>

          <div class="post-border">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-5">

                <!--Image-->
                <div class="view overlay z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-weight-bold">This is news title</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>

                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

          </div>

          <div class="post-border">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-5">

                <!--Image-->
                <div class="view overlay z-depth-1 mb-3">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo9.jpg" class="img-fluid" alt="Post">
                  <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                  </a>
                </div>

              </div>
              <!--Grid column-->

              <!--Second column-->
              <div class="col-7 mb-1">

                <!--Post data-->
                <div class="">
                  <p class="mb-1">
                    <a href="#!" class="text-hover font-weight-bold">This is news title</a>
                  </p>
                  <p class="font-small grey-text">
                    <em>July 22, 2017</em>
                  </p>

                </div>

              </div>
              <!--Second column-->

            </div>
            <!--Grid row-->

          </div>

        </section>

        <hr>
        <p class="font-weight-bold dark-grey-text text-center spacing">
          <strong>ARCHIVE</strong>
        </p>
        <hr>

        <!--Archive-->
        <section class="archive mb-5">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-12 text-center">

              <!--List-->
              <ul class="list-unstyled mt-3">
                <li>
                  <h6 class="">
                    <a href="#!" class="dark-grey-text">August 2016</a>
                  </h6>
                </li>
                <li>
                  <h6 class="">
                    <a href="#!" class="dark-grey-text">July 2016</a>
                  </h6>
                </li>
                <li>
                  <h6 class="">
                    <a href="#!" class="dark-grey-text">June 2016</a>
                  </h6>
                </li>
                <li>
                  <h6 class="">
                    <a href="#!" class="dark-grey-text">May 2016</a>
                  </h6>
                </li>
                <li>
                  <h6 class="">
                    <a href="#!" class="dark-grey-text">April 2016</a>
                  </h6>
                </li>
                <li>
                  <h6 class="">
                    <a href="#!" class="dark-grey-text">March 2016</a>
                  </h6>
                </li>
                <li>
                  <h6 class="">
                    <a href="#!" class="dark-grey-text">Febuary 2016</a>
                  </h6>
                </li>
              </ul>
              <!--List-->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--Archive-->

      </div>
      <!--Sidebar-->

    </div>
    <!--Blog-->

  </div>

</section>
