.circle-icons i {
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid #e0e0e0;
  color: #bdbdbd;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.circle-icons i:hover {
  color: #fff;
  background-color: #4285f4!important;
}
.text-hover {
  color: #424242;
  transition: .4s;
}
.text-hover:hover {
  color: #90a4ae;
}
.archive ul li {
  padding-top: .8rem;
  border-top: 1px solid #eceeef;
  padding-bottom: .3rem;
}
p {
  font-size: .87rem ;
  line-height: 1.5rem !important;
}

.spacing {
  letter-spacing: 2px;
}
section .container {
  font-family: Roboto,sans-serif;
}

