<footer class="page-footer stylish-color-dark text-center text-md-left mt-4 pt-4">

  <!--Footer Links-->
  <div class="container">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!--First column-->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">About me</h6>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit.</p>
      </div>
      <!--/.First column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Category</h6>
        <p>
          <a href="#!">Lifestyle</a>
        </p>
        <p>
          <a href="#!">Travel</a>
        </p>
        <p>
          <a href="#!">Work</a>
        </p>
        <p>
          <a href="#!">Fashion</a>
        </p>
      </div>
      <!--/.Second column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="#!">Collaboriation</a>
        </p>
        <p>
          <a href="#!">Media about me</a>
        </p>
        <p>
          <a href="#!">Newsletter</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>
      <!--/.Third column-->

      <hr class="w-100 clearfix d-md-none">

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!--/.Fourth column-->

    </div>
    <!-- Footer links -->

    <hr>

    <div class="row py-3 d-flex align-items-center">

      <!--Grid column-->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left grey-text">
          © 2019 Copyright: <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com </a>
        </p>
        <!--/.Copyright-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!--Social buttons-->
        <div class="social-section text-center text-md-left">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item mx-0">
              <a class="btn-floating btn-sm rgba-white-slight mr-xl-4 waves-effect waves-light">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item mx-0">
              <a class="btn-floating btn-sm rgba-white-slight mr-xl-4 waves-effect waves-light">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item mx-0">
              <a class="btn-floating btn-sm rgba-white-slight mr-xl-4 waves-effect waves-light">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item mx-0">
              <a class="btn-floating btn-sm rgba-white-slight mr-xl-4 waves-effect waves-light">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <!--/.Social buttons-->

      </div>
      <!--Grid column-->

    </div>

  </div>

</footer>
